@model DressIndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    Add a Dress
    <form asp-controller="dress" asp-action="new" method="post">
       Dress Webpage: <input name="WebpageUrl" type="url" />
       <button type="Submit">Search</button>
    </form>
</div>

<div class="dress-types">
    <a class="dress-type dress-type-bride @(Model.DressType == DressType.Bride ? "active" : "")"
       asp-controller="Dress" 
       asp-action="Home" 
       asp-route-dresstype="@DressType.Bride">Bride</a><!--
 --><a class="dress-type dress-type-bridemaids @(Model.DressType == DressType.BridesMaid ? "active" : "")"
       asp-controller="Dress" 
       asp-action="Home" 
       asp-route-dresstype="@DressType.BridesMaid">Bridesmaids</a>
</div>

<div class="dress-filters">
    <!--name, price, shop, favourite, rank, approved, search -->
</div>

<div>
    @foreach (var dress in Model.Dresses)
    {
    <a asp-action="GetDressDetails" asp-route-id="@dress.Id">
        <div class="dress-item">
            <div class="dress-image">
                <img src="@(dress.Image ?? "/images/placeholder.jpg")" />
            </div>
            <div class="dress-item-header">

                <div class="dress-name">
                    @dress.Name
                </div>

                <div class="dress-shop">
                    @dress.Shop
                </div>

                @if (dress.Price != null)
                {
                    <div class="dress-price">
                        | @dress.Price
                    </div>
                }
            </div>
            <div class="dress-description">
                @dress.Description
            </div>

            <div class="bride-options">
                <div class="dress-rating">
                    @dress.Rating
                </div>

                <div class="dress-approval">
                    @dress.Approval
                </div>
            </div>
        </div>
    </a>
    }
</div>